body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#6e38c4,#90bafc);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #4caf50;
}

#ageDisplay {
    font-size: 3em;
    color: #333;
}

span{
    color:  white;
}

@media screen and (max-width: 500px){
    body {
        font-family: Arial, sans-serif;
        background: linear-gradient(135deg,#6e38c4,#90bafc);
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
    }
    #ageDisplay {
        font-size: 1.5em;
        color: #333;
    }
    span {
        color:  white;
    }
}
